body
	{
		background: linear-gradient(to bottom, rgba(246,246,244,1), rgba(233,233,233,1)); /*Standard*/
		font-family: 'bentham', cursive;
		background-size: auto;

		
	}
header
	{
		height: 123px;
		width: 1200px;
		margin: 0 auto;
		background: url("background.png");
		background-size: 100%;
	}
#main-wrapper
	{

	}
#main-content
	{
		width: 1100px;
		height: 318px;
		margin: 0 auto;
		box-shadow: 5px 5px 5px #dbdbdb;
	}

#main-content img
{
	border-style: solid;
    border-width: 12px;
    border-color: rgb(245, 244, 242);

}
h1
{
	padding-left: 60px;
	font-style: italic;
	font-size: 52px;
  	background-image: -webkit-linear-gradient(left, #5b5b5b, #b0b0b0, #ffffff, #ffffff, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header li
{
	float: right;
	font-size: 19pt;
	font-style: italic;
	list-style: none;
	color: #b0b0b0;
	padding-right:  60px;

}
header li:nth-child(3)
{
	color: #5b5b5b;
}
#filmszalag
{
	
	width: 1100px;
	height: 318px;
	margin: 0 auto;
	text-align: center;
	
}

.nyil:hover
{
	cursor: pointer;
	transition: 0.3s;
	opacity: 0.5;
}
.nyil:active
{
	 transform: translateY(2px);
}
footer
{
	margin: 0 auto;
	text-align: center;
}

#filmszalag li
{
	float: left;
	list-style: none;
}

input
{
	visibility: hidden;
}


