
.container { margin: 0 auto; width: 80%; height: 130px;}

/* Example wrapper */
.wrap {
margin: 0 auto;
}

/* Frame */
.frame {
	height: 130px;
	line-height: 120px;
	width: 670px;
	overflow: hidden;
	float: left;
	margin: 0 auto;

}
.frame ul {
	list-style: none;
	
	padding: 0;
	height: 80%;
	font-size: 50px;
	text-align: center;
	margin: 0 auto;
}
.frame img
{
	text-align: center;
}
.frame ul li {
	float: left;
	width: 100px;
	height: 100%;
	margin: 5px;
	padding: 0;
	/*background: #f1f1f1;*/
	border-style: solid;
    border-width: 10px;
    border-color:  #f1f1f1;
	color: #ddd;
	text-align: center;
	cursor: pointer;
}
.frame ul li.active {
	
	border-color:  #5e5e5e;
}



/* Controls */
.controls { 
	margin: 36px 0 36px 0; 
	width: 60px;
	float: left;
	 }

button {
	border-style: none;
	background: transparent;
}
button:after
{
	border-width: 0;
	border-color: transparent;
	border: none;
	border-style: none;
}
button:active
{
	border: none;
border-width: 0;
border-color: transparent;
	border-style: none;
}
button:active:after
{
	border-width: 0;
	border-color: transparent;
	border: none;
	border-style: none;
}